<!DOCTYPE html>

<html>
    <head>
        <title>About the creator</title>
    </head>
    <body>
        <h2 align='center'>About me</h2>
        <p>Haribol! guys my name is U Yugander, I am studying B.tech in Electronics and Communication Engineering(ECE) 2nd year in Indian Institute of Information Technology, Sri City, Chittor, Andhra Pradesh, India.
            I have leart a bit django from Nick sir through his Udemy classes, this website which I have made on my own is possible only because of the guidance 
            of Nick sir, I owe him a lot and he is one of my best teachers. 
        </p>
        <a href="{%url 'home'%}">Return to home</a>
    </body>
</html>